<!DOCTYPE html>
<html lang="es-mx">
<head>
    jajaj
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Deeply - Desarrollo de software a la medida, Consultoria y Formación empresarial.</title>
    <meta content="" name="Deeply - Desarrollo de software a la medida, Consultoria y Formación empresarial.">
    <meta content="" name="Deeply - Software developer, Ux designer, Ui designer, DBA, Proyect manager">
     <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <link href="favicon.ico" rel="icon">
    <link rel="apple-touch-icon" tamaños="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" tamaños="60x60" href="apple -icon-60x60.png ">
    <link rel="apple-touch-icon" tamaños="72x72" href="apple-icon-72x72.png" >
    <link rel="apple-touch-icon" tamaños="76x76" href="icono-apple-76x76.png">
    <link rel="apple-touch-icon" tamaños="114x114" href="apple-icon-114x114.png ">
    <link rel="apple-touch-icon" tamaños="120x120" href="apple-icon-120x120.png">
    <link rel="apple-touch-icon" tamaños="144x144" href="apple-icon-144x144.png ">
    <link rel="apple-touch-icon" tamaños="152x152 "href="apple-icon-152x152.png" >
    <link rel="tamaños de apple-touch-icon"="180x180" href="icono-apple-180x180.png">
    <enlace rel="icono" tipo="imagen / png" tamaños="192x192" href="android-icon-192x192.png">
    <link rel="icon" type="image/png" tamaños="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" tamaños="96x96" href="favicon-96x96.png">
    <link rel="icon" type="image/png" tamaños="16x16" href="favicon-16x16.png">
    <link rel="manifiesto" href="/manifest.json">
    <meta nombre="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


        <link href="assets/img/apple-icon.png" rel="apple-icon">
        <link href="assets/img/apple-icon.png" rel="apple-icon">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
        <link href="assets/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="assets/font/icofont/icofont.min.css" rel="stylesheet" />
        <link href="assets/plugin/animate-css/animate.min.css" rel="stylesheet" />
        <link href="assets/font/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="assets/plugin/aos/aos.css" rel="stylesheet" />
        <link href="assets/css/style.css" rel="stylesheet" />
        <link href="assets/plugin/slider/immersive-slider.css" rel="stylesheet" />
        <link href="assets/plugin/sweet-alert/sweet-alert.min.css" rel="stylesheet" />
</head>
<body>

    <section id="hero">

        <div class="hero-container">
            <div class="wow fadeIn">
                <div class="hero-logo">
                    <img class="" src="assets/img/logo.png" width="375" alt="DeeplyMinded">
                </div>

                <h5 style="padding-top: -10px;">"Amamos lo que hacemos, nos apaciona crear aplicaciones".</h5>
                <h2>Servicio profesional de desarrollo de <b><span class="typed" data-typed-items="software a la medida, páginas web, aplicaciones móviles"></span></b></h2>

                <div class="social">
                    <a target="_blank" href="https://www.facebook.com/deeplyminded" class="btn-floating btn-fb"><i class="fa fa-facebook-f"></i></a>
                    <a target="_blank" href="https://twitter.com/deeplyminded01" class="btn-floating btn-tw"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="https://wa.me/5217224947049?text=¡Hola! ¿Me podrías brindar información sobre las soluciones des servicios de software que ofrece?" target="_blank" onclick="CCMgr.logClick('link');" class="btn-floating btn-ws"><i class="fa fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </section>
    <header id="header">
        <div class="container d-flex align-items-center">

            <a href="index.html" class="logo mr-auto">
                <img src="assets/img/logo_Blanco_150.png" alt="">
            </a>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="index.html">Inicio</a></li>
                    <li><a href="#conocenos">Conócenos</a></li>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="#Herramientas">Herramientas</a></li>
                    <li><a href="#Slider">Proyectos</a></li>
                    <li><a href="#team">Colaboradores</a></li>
                      <li><a href="#contact">Contáctanos</a></li>
                </ul>
            </nav>
            <!-- .nav-menu -->

        </div>
    </header>
    <section id="conocenos">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-title wow fadeInUp">
                        <span>Conócenos</span>
                        <h2>Conócenos</h2>
                        <div class="section-title-divider"></div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 wow bounceInLeft">
               
                    <img src="assets/img/conocenos.png" alt="Imagen conocenos" class="img-fluid" />
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 wow bounceInRight">

                    <div class="row">
                        <div class="col-12">
                            <h1>Estamos aquí para ti</h1>

                        </div>
                    </div>
                    <img src="assets/img/lineHorizontal.png" />
                    <div class="row">
                        <div class="col-12">
                            <p>
                                Somos una empresa de desarrollo de software y servicios integrales para internet, orgullosamente mexicana
                                formado por profesionales talentosos altamente calificados, con experiencia y pasión por su trabajo.

                            </p>
                            <p>
                                Existimos para llevar innovación a tu empresa, imprimiendo pasión en cada paso del proceso de desarrollo
                                trabajando estrechamente contigo y cerca de ti.
                            </p>
                        </div>

                    </div>
                    <img src="assets/img/lineHorizontal.png" />
                </div>
            </div>

        </div>
    </section>
    <section id="servicios">
        <div class="container pt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title wow fadeInUp">
                        <span>Nuestros servicios</span>
                        <h2>Nuestros servicios</h2>
                        <div class="section-title-divider"></div>
                        <h6>
                            Enfóquese en su Core Business, nosotros nos ocupamos del desarrollo, mantenimiento y soporte técnico de su sistemas.
                        </h6>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 service-item wow bounceInRight" data-wow-duration="1.65s">
                    <div class="service-icon"><i class="fa fa-desktop"></i></div>
                    <h6 class="service-title"><a href="">Aplicaciones moviles híbridas</a></h6>
                    <p class="service-description">
                        Creamos apps hibridas que es la solución más eficiente para el desarrollo multiplataforma, combina las fortalezas de
                        la programación nativa con otras tecnologías html que se ejecutan de forma nativa en IOS y Android.
                    </p>
                </div>

                <div class="col-lg-4 col-md-6 service-item wow bounceInRight" data-wow-duration="2.65s">
                    <div class="service-icon"><i class="fa fa-paper-plane"></i></div>
                    <h6 class="service-title"><a href="">Aplicaciones y página web</a></h6>
                    <p class="service-description">
                        El desarrollo web a la medida es una alternativa para los negocios que buscan una solución para resolver una necesidad que las plataformas existentes no satisfacen.
                        Desarrollamos servicios web, componentes o soluciones completas y los integramos con las plataformas existentes de nuestros clientes.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 service-item wow bounceInRight" data-wow-duration="3.25s">
                    <div class="service-icon"><i class="fa fa-photo"></i></div>
                    <h6 class="service-title"><a href="">Comercio eléctronico</a></h6>
                    <p class="service-description">
                        Ten tu negocio en donde todos tus clientes puedan verlo y sobre todo, encontrar tus productos.
                        Decídete a vender en internet y déjanos ayudarte a construir el espacio digital adecuado a tus necesidades.
                    </p>
                </div>

                <div class="col-lg-4 col-md-6 service-item wow bounceInLeft" data-wow-duration="4.65s">
                    <div class="service-icon"><i class="fa fa-road"></i></div>
                    <h6 class="service-title"><a href="">UX/UI</a></h6>
                    <p class="service-description">
                        Nuestro equipo de UI / UX entiende que el diseño de un producto, es clave para el éxito de cualquier aplicación, por ello nos centramos mucho en la experiencia de usuario.
                        Comuníquese con nosotros para permitir que nuestro equipo cree algo de magia para usted.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 service-item wow bounceInLeft" data-wow-duration="5.95s">
                    <div class="service-icon"><i class="fa fa-bar-chart"></i></div>
                    <h6 class="service-title">
                        <a href="">
                            Soporte técnico
                        </a>
                    </h6>
                    <p class="service-description">Te acompañamos en todo el proceso de desarrollo de tu producto y te asistimos técnicamente. La finalidad de la asistencia técnica es ayudar a nuestros clientes para que puedan resolver ciertos problemas durante la operación.</p>
                </div>

                <div class="col-lg-4 col-md-6 service-item wow bounceInLeft" data-wow-duration="7.15s">
                    <div class="service-icon"><i class="fa fa-shopping-bag"></i></div>
                    <h6 class="service-title"><a href="">Consultoria</a></h6>
                    <p class="service-description">
                        Estamos contigo,  analizamos, planificamos e implementamos nuevas estrategias e innovaciones digitales para tu empresa.
                        Somos expertos en tecnología pero también en cómo aplicarla, podemos guiarte en tomas de decisiones o aclarar tus dudas.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="Herramientas">
        <div class="container pt-3">
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="section-title wow fadeInUp">
                        <span>Nuestras herramientas</span>
                        <h2>Nuestras herramientas</h2>
                        <div class="section-title-divider"></div>
                        <h6>
                            Construimos productos usando arquitecturas limpias, siguiendo buenas practicas de programación, usando metodologías agiles de desarrollo de software
                            y una pila de tecnologías y herramientas para brindarte la mejor experiencia  al costo mas bajo posible.
                        </h6>
                    </div>


                </div>
                <div class="col-md-12">

                    <div class="row">
                        <div class="fila ">
                            <div class="elemento col-md-3 col-sm-6 wow bounceInRight" data-wow-duration="1.5s">
                                <img src="assets/img/tools_1.png" />
                            </div>
                            <div class="elemento col-md-3 col-sm-6 wow bounceInRight" data-wow-duration="2.55s">
                                <img src="assets/img/tools_2.png" />
                            </div>
                            <div class="elemento col-md-3 col-sm-6 wow bounceInRight" data-wow-duration="3.95s">
                                <img src="assets/img/tools_3.png" />
                            </div>
                            <div class="elemento col-md-3 col-sm-6 wow bounceInLeft" data-wow-duration="4.35s">
                                <img src="assets/img/tools_4.png" />
                            </div>
                            <div class="elemento col-md-3 col-sm-6 wow bounceInLeft" data-wow-duration="5.75s">
                                <img src="assets/img/tools_5.png" />
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <section id="ComoLoHacemos">
        <div class="container pt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title wow fadeInUp">
                        <span>Como lo hacemos</span>
                        <h2>Como lo hacemos</h2>
                        <div class="section-title-divider"></div>
                        <h6>

                            Creamos todo un plan de desarrollo para poder entregarte el producto que necesitas. 
                            Estos son los procesos que seguimos para trabajar en un proyecto:
                        </h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fa fa-gift"></i></div>
                            <h4 class="title"><a href=""> Buscamos entender tu visión</a></h4>
                            <ul>
                                <li>
                                    <i class="fa fa-angle-right"></i>
                                    <span class="texto"> Entendimiento del proyecto mediante levantamiento de requerimientos técnicos y funcionales.</span>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right"></i>
                                    <span class="texto"> Análisis y factibilidad técnica, económica y operacional del proyecto.</span>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right"></i>
                                    <span class="texto"> Alcance y diagrama de implementación preliminar.</span>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right"></i>
                                    <span class="texto"> Presentación del diseño y arquitectura de la solución tecnológica.</span>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right"></i>
                                    <span class="texto">Planificación del proyecto (Plazos, tiempos de entrega, documentación UX, storyBoard ..)</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fa fa-cubes"></i></div>
                            <h4 class="title"><a href="">MVP (Most Viable Product)</a></h4>
                            <ul>
                                <li>
                                    <i class="fa fa-angle-right"></i>
                                    <span class="texto">Trabajamos juntos para diseñar una solución pensada en ti y tus usuarios.</span>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right"></i>
                                    <span class="texto">Desarrollamos tu sistema siguiendo  metodologías agiles y arquitectura limpia.</span>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right"></i>
                                    <span class="texto">Revisión de control de calidad del sistema mediante diseño de casos de pruebas técnicas, regresión, funcionales y no funcionales.</span>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right"></i>
                                    <span class="texto">Implementación de la primera versión del sistema hasta llegar al producto final. Esto para que el cliente pueda probar la funcionalidad del sistema semana a semana en cada entrega, con esto mejoramos las funcionalidades secundarias y mejoramos la usabilidad de tus sistema y finalmente logramos la satisfacción del cliente.</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fa fa-child"></i></div>
                            <h4 class="title"><a href="">Lanzamiento</a></h4>
                            <ul>
                                <li>
                                    <i class="fa fa-angle-right"></i>
                                    <span class="texto">Implementación y configuración en servidores dedicados, especialmente preparados para su sistema.</span>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right"></i>
                                    <span class="texto">Capacitación digital, en línea o presencial de la usabilidad del aplicativo a tus usuarios.</span>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right"></i>
                                    <span class="texto">Cada cliente es muy importante para nosotros. Por eso brindamos soporte especializado con atención telefónica y esquema de emergencias para resolución inmediata.</span>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right"></i>
                                    <span class="texto">Recopilación de retroalimentación y planificación de nuevas funciones o mejoras.</span>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="Slider">
        <div class="container-fluid pt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title wow fadeInUp">
                        <span>Algunos de nuestros proyectos</span>
                        <h2>Algunos de nuestros proyectos favoritos</h2>
                        <div class="section-title-divider"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="wrappers">
                        <div class="main">
                            <div class="page_container pt-5 pb-5 mt-5 mb-5">
                                <div id="immersive_slider">
                                    <div class="slide" data-blurred="assets/img/slide1_blurred.jpg">
                                        <div class="content">
                                            <h2><a href="http://187.210.61.169/elementary" target="_blank" style="color:black !important; font-weight:700;">Elementary</a></h2>
                                            <p>
                                                Es una aplicación web especializado para administrar los aspectos de control escolar, financiero y académico de una institución educativa.
                                                Diseñado para controlar desde una institución con nivel prescolar hasta el formato para Instituciones universitarias.
                                            </p>
                                            <div class="text-center">
                                              
                                                <a href="http://187.210.61.169/elementary" target="_blank">Visitar</a>
                                            </div>
                                        </div>
                                        <div class="image">
                                            <a href="http://187.210.61.169/elementary" target="_blank">
                                                <img src="assets/img/slide1.jpg" alt="Slider 1">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="slide" data-blurred="assets/img/slide2_blurred.jpg">
                                        <div class="content">
                                            <h2><a href="http://187.210.61.169/siga" target="_blank" style="color:black !important; font-weight:700;">Siga</a></h2>
                                            <p>
                                                <strong>Siga </strong> el sistema de gestión de documental, audiencias y llamadas. Esta diseñado para almacenar,
                                                administrar y controlar el flujo de documentos, solicitudes, peticiones y llamadas telefónicas  dentro de una organización.
                                            </p>
                                            <div class="text-center">
                                   
                                                <a href="#" class="btn btnGold">Visitar</a>
                                            </div>
                                        </div>
                                        <div class="image">
                                            <a href="http://www.bucketlistly.com/apps" target="_blank"> <img src="assets/img/slide2.jpg" alt="Slider 1"></a>
                                        </div>
                                    </div>
                                    <div class="slide" data-blurred="assets/img/slide3_blurred.jpg">
                                        <div class="content">
                                            <h2><a href="http://187.210.61.169/cascarita" target="_blank" style="color:black !important; font-weight:700;">Cascarita</a></h2>
                                            <p>
                                                Es la aplicación web con la que podrás administrar desde cualquier dispositivo móvil o computadora  de manera automática todos
                                                los torneos de tu liga deportiva. Diseñado especialmente para ligas deportivas se adapta a las características  de cada torneo.
                                                Descubre mas aquí
                                            </p>
                                            <div class="text-center">
                                                                                        <a href="#" class="btn btnGold">Visitar</a>
                                            </div>

                                        </div>
                                        <div class="image">
                                            <a href="http://www.thepetedesign.com" target="_blank"><img src="assets/img/slide3.jpg" alt="Slider 1"></a>
                                        </div>
                                    </div>

                                    <a href="#" class="is-prev">&laquo;</a>
                                    <a href="#" class="is-next">&raquo;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="team" class="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title wow fadeInUp">
                        <span>Conoce nuestro equipo</span>
                        <h2>Conoce nuestro equipo</h2>
                        <div class="section-title-divider"></div>
                        <h6>
                            Nuestro principal activo es nuestra gente y nos enorgullecemos de contratar a profesionales apasionados,
                            en deeply minded todos son importantes sin importar el trabajo, antigüedad  o especialidad.
                        </h6>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-xl-3 col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up">
                    <div class="member">
                        <div class="pic"><img src="assets/img/team-0.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>María del Carmen Padilla</h4>
                            <span>Chief Executive Officer</span>
                            
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <div class="pic"><img src="assets/img/team-2.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Gabino Jiménez</h4>
                            <span>Product Manager</span>
                            <div class="social">
                                <a target="_blank" href="https://twitter.com/GabinoJs"><i class="icofont-twitter"></i></a>
                                <a target="_blank" href="https://www.facebook.com/gabinoJS"><i class="icofont-facebook"></i></a>
                                <a target="_blank" href="https://gabinojimenez.github.io/CV/index.html"><i class="icofont-world"></i></a>
                                <a target="_blank" href="https://www.linkedin.com/in/gabinojs01"><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <div class="pic"><img src="assets/img/team-1.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Alma Rosa Melitón</h4>
                            <span>UX Designer</span>
                            <div class="social">
                                <a target="_blank" href="#"><i class="icofont-facebook"></i></a>
                                <a target="_blank" href="#"><i class="icofont-linkedin"></i></a>
                                <a target="_blank" href="#"><i class="icofont-worl"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <div class="pic"><img src="assets/img/team-3.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Rene Jiménez</h4>
                            <span>CTO</span>
                            <div class="social">
                                <a target="_blank" href="https://twitter.com/ReneJimnez"><i class="icofont-twitter"></i></a>
                                <a target="_blank" href="https://www.facebook.com/ReneJi.S"><i class="icofont-facebook"></i></a>
                                <a target="_blank" href="https://rene-jimenez.github.io/miCV/index.html"><i class="icofont-worl"></i></a>
                        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="pic"><img src="assets/img/team-5.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Alejandro de Jesús</h4>
                            <span>Back-end developer</span>
                            <div class="social">
                                <a target="_blank" href="https://twitter.com/@andromj23"><i class="icofont-twitter"></i></a>
                                <a target="_blank" href="https://www.facebook.com/alejandro.gonzalezdejesus.7"><i class="icofont-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up">
                    <div class="member">
                        <div class="pic"><img src="assets/img/team-6.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Berenice Ayala</h4>
                            <span>Front-end developer</span>
                            <div class="social">
                                <a target="_blank" href="https://twitter.com/bniceayala"><i class="icofont-twitter"></i></a>
                                <a target="_blank" href="https://www.facebook.com/bniceayal"><i class="icofont-facebook"></i></a>
                                <a target="_blank" href="https://bereniceayalaarzate.github.io/CV/"><i class="icofont-worl"></i></a>
                                <a target="_blank" href="https://www.linkedin.com/in/bereniceayalaarzate/"><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <div class="pic"><img src="assets/img/team-4.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Alfonso Doroteo</h4>
                            <span>DBA</span>
                            <div class="social">
                
                                <a target="_blank" href="https://www.facebook.com/alfonso.dm.5"><i class="icofont-facebook"></i></a>
                                <a target="_blank" href="https://www.instagram.com/alfonsdom"><i class="icofont-instagram"></i></a>
                                <a target="_blank" href="https://alfonso-doroteo.github.io/conoceme/"><i class="icofont-world"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <section id="contact" class="contact">
        <div class="container">

            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <span>Contáctanos</span>
                        <h2>Contáctanos</h2>
                        

                    </div>
                    <h5 class="=text-center col-12"><small>Si tienes dudas, preguntas o solo quieres saber mas de nosotros. </small> </h5>
                </div>
           
            </div>
            

            <div class="row">
                <div class="col-lg-6">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box">
                                <i class="fa fa-share-alt" aria-hidden="true"></i>
                                <h3>Redes sociales</h3>
                                <div class="social-links">
                                    <a target="_blank" href="https://twitter.com/deeplyminded01" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a target="_blank" href="https://www.facebook.com/deeplyminded" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box mt-4">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <h3>Ccorreo electrónico</h3>
                                <p><a href="mailto:info@deeply.com.mx">info@deeply.com.mx</a> </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box mt-4">
                                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                <h3>Envíanos mensaje</h3>
                                <a href="https://wa.me/5217224947049?text=¡Hola! ¿Me podrían brindar información sobre las soluciones de servicios de software que ofrece?"> Whatsaap</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 php-email-form" id="app">
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <input class="form-control" id="txbNombre" type="text" v-model="from_name" placeholder="Nombre" />

                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control" name="email" id="email" v-model="from_email" placeholder="Correo electrónico" />

                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" v-model="subject" />

                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="txbMensaje" name="message" rows="6" v-model="message" placeholder="Mensaje"></textarea>
                        <div class="validate"></div>
                    </div>

                    <div class="text-center"><button @click="enviar">Enviar</button></div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="container">
            <h3>   "Hágase el código"</h3>
            <br />
           <h5 class="text-white"><small> (Código limpio - Robert C. Martin, 2009, p.29  )</small>  </h5><br /><br />
            <div class="social-links">
                <a target="_blank" href="https://twitter.com/deeplyminded01" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a target="_blank" href="https://www.facebook.com/deeplyminded" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
               
            </div>

        </div>
    </footer>
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <script src="assets/plugin/jquery/jquery.min.js"></script>
    <script src="assets/plugin/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/plugin/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/plugin/jquery-sticky/jquery.sticky.js"></script>
    <script src="assets/plugin/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/plugin/owl.carousel/owl.carousel.min.js"></script>
    <script src="assets/plugin/venobox/venobox.min.js"></script>
    <script src="assets/plugin/typed.js/typed.min.js"></script>
    <script src="assets/plugin/aos/aos.js"></script>
    <script src="assets/plugin/wow/wow.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/plugin/sweet-alert/sweet-alert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script src="https://cdn.emailjs.com/dist/email.min.js" type="text/javascript"></script>
    <script>
            (function(){
                emailjs.init("user_ulgTAoEi8esQMjAw7Alg1");
             })();
            const vue = new Vue({
                el: '#app',
                data(){
                    return {
                        from_name: '',
                        from_email: '',
                        message: '',
                        subject: '',
                    }
                },
                methods: {
                    enviar() {

                        var nombre = document.getElementById("txbNombre").value;
                        var correo = document.getElementById("email").value;
                       var mensaje = document.getElementById("txbMensaje").value;

                        if (nombre.length == 0) {
                            swal("Upss!", "el nombre es campo requerido!", "warning")
                        }
                        else {
                            if (correo.length == 0) {

                                swal("Upss!", "el correo electrónico es campo requerido!", "warning")
                            }
                            else {
                                if (mensaje.length == 0) {
                                    swal("Upss!", "el mensaje es campo requerido!", "warning")
                                }
                                else {
                                    let data = {
                                        from_name: this.from_name,
                                        from_email: this.from_email,
                                        message: this.message,
                                        subject: this.subject,
                                    };
                                    emailjs.send("6481251085", "template_hwp213r", data)
                                    .then(function (response) {
                                        if (response.text === 'OK') {
                                            document.getElementById("txbNombre").value="";
                                            document.getElementById("email").value="";
                                            document.getElementById("txbMensaje").value = "";
                                            document.getElementById("subject").value = "";
                                            swal("Bien!", "El correo se ha enviado de forma exitosa!", "success")
                                        }
                                        console.log("SUCCESS. status=%d, text=%s", response.status, response.text);
                                    }, function (err) {
                                        swal("Upss!", "Ocurrió un problema al enviar el correo!", "danger")
                                        console.log("FAILED. error=", err);
                                    });
                                }
                            }
                        }
                    }
                }
            });
    </script>
    <script>
              new WOW().init();
    </script>
    <script src="assets/plugin/slider/jquery.immersive-slider.js"></script>
    <script type="text/javascript">
  	  $(document).ready( function() {
  	    $("#immersive_slider").immersive_slider({
  	        container: ".main",
  	        autoStart: 15000
  	    });
  	  });

    </script>
</body>
</html>

